.barra-navegacao {
    background-color: #333; /* Cor de fundo da barra de navegação */
    padding: 10px 0; /* Espaçamento interno */
}

.barra-navegacao ul {
    list-style-type: none; /* Remove os marcadores de lista */
    margin: 0;
    padding: 0;
    text-align: center; /* Centraliza os itens da barra de navegação */
}

.barra-navegacao li {
    display: inline; /* Exibe os itens da lista horizontalmente */
    margin-right: 20px; /* Espaçamento entre os itens */
}

.barra-navegacao a {
    color: white; /* Cor do texto dos links */
    text-decoration: none; /* Remove sublinhado dos links */
    font-size: 16px; /* Tamanho do texto */
    padding: 10px; /* Espaçamento interno dos links */
}

.barra-navegacao a:hover {
    background-color: #555; /* Cor de fundo dos links ao passar o mouse */
}
