body {
    font-family: 'poppins';
}
.cabecalho .menu {
    display: flex;
    align-items: center;
    height: 100%;
}
.container {
    
    max-width: 1200px;
    margin:0 auto;
    display: flex;
    align-items: center;
    height: calc(100vh - 132px);
   padding: auto;

} 
.imagem {
    position: relative;
    width: 100vw;
    height: 70vh;
    text-align: center;
}

.video-tabela{
    position: relative;
    width: 100%;
    height: 100%;
}

.video-tabela video {
    width: 100%;
    height: 100%;
}


.botao {
    position: absolute;
    top: 11%;
    left: 80%; /* Ajuste conforme necessário */
    background-color: #f3a00728;
    color: #fff;
    padding: 15px;
    font-size: 30px;
    font-weight: bold;
    border: none;
    border-radius: 20%;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s all ease-in-out;
}
.botaoA {
    text-decoration: none;
    color: inherit;
}

.botao:hover {
    transform: scale(1.1);
}

 .video-fundo {
    background-color: rgb(255, 0, 0);
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center ;

 }
 .video-fundo .video {
    height: 100vh;
 } 
 .video-fundo::after {
    content: "";
    background-color: #242323;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0 ; 
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,0.8725806451612903) 50%, rgba(0,0,0,1) 100%);
}