 body {
        margin: 0;
        position: relative;
    }
@media only screen and  (max-width: 1000px) {
   
    .video-tabela {
        top: 10%;
        width: 100%;
        text-align: center;
    }

    .video {
        margin: 0;
        width: 100%;
    }

    .botao {
        top: 10%;
        left: 68%;
    }
}
 @media only screen and  (max-width: 500px) {
    .botao {
        padding: 7px 5px;
        font-size: 12px;
    }
}
@media only screen and (max-width: 365px) {
    .botao {
        padding: 5px 8px;
        font-size: 9px;
    }
}
    