body{
    margin: 0;
    padding: auto;
}
.video-tabela {
    top: 10%;
    position: relative; 
    width: 100%;
}

.video {
    margin: 0;
   
    position: absolute;
    width: 100%;
}

.botao {
    position: absolute;
   
    left: 77%; 
}
@media  (min-width: 699px){
    body{
        margin: 0;
        position: relative;
    }
    .video-tabela{
        top: 0%;

        text-align: center;
        width: 100%;

    }
    .botao {
        position: absolute;
        top: 10%;
       
        left: 77%;
        padding: 09px 20px; 
    }
}
@media screen and (max-width: 700px) {
    body{
        margin: 0;
        position: relative;
    }
    .video-tabela{
        top: 10%;
        
        text-align: center;
        width: 100%;

    }
    .video-tabela video {
        width: 80%; 
    }
    .botao {
        position: absolute;
        top: 18%;
       
        left: 67%; 
        padding: 9px 10px; 
        font-size: 14px;
}
}
