@media (max-width: 1000px) {
/* Estilos padrão para todos os tamanhos de tela */
.video-tabela video {
    width: 100%;
}

.botao {
    padding: 1em 2em; /* Ajuste conforme necessário para o tamanho do botão */
    font-size: 1.2em; /* Ajuste conforme necessário para o tamanho do texto do botão */
}

/* Media query para telas menores que 600 pixels de largura */
@media screen and (max-width: 600px) {
    .video-tabela video {
        width: 80%; /* Ajuste conforme necessário para telas menores */
    }

    .botao {
        padding: 0.5em 1em; /* Ajuste conforme necessário para o tamanho do botão em telas menores */
        font-size: 1em; /* Ajuste conforme necessário para o tamanho do texto do botão em telas menores */
    }
}

/* Media query para telas maiores que 600 pixels de largura */
@media screen and (min-width: 601px) {
    .video-tabela video {
        width: 60%; /* Ajuste conforme nec"essário para telas maiores */
    }

    .botao {
        padding: 1em 2em; /* Ajuste conforme necessário para o tamanho do botão em telas maiores */
        font-size: 1.2em; /* Ajuste conforme necessário para o tamanho do texto do botão em telas maiores */
    }
}